<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775878867428-29ig71bp9fltb92potmguevq4bv9bqtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775878867428-29ig71bp9fltb92potmguevq4bv9bqtj</string>
	<key>API_KEY</key>
	<string>AIzaSyDGCwiZmzlaP9xZl1covNlI1i88Oho9Zx0</string>
	<key>GCM_SENDER_ID</key>
	<string>775878867428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobs</string>
	<key>PROJECT_ID</key>
	<string>chatting-a4fcd</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-a4fcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775878867428:ios:2bfe61a46c4d3edaaa6ff1</string>
</dict>
</plist>